html {
    height: 100%;
}

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html body #map-canvas {
    height: 100%;
}

html body #map-canvas img {
    max-width: none;
}

html body .control-group.top-bar {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin: 5px 0 0 -150px;
}

html body .control-group.top-bar .controls .input-prepend.input-append #searchMaps {
    width: 250px;
}

html body .bottom-bar {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -1%;
    margin: 0 0 5px -150px;
}

html body .bottom-bar .controls .input-prepend.input-append #note {
    width: 220px;
}
