html {
    height: 100%;
}

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html body #map-canvas {
    height: 100%;
}

html body #map-canvas img {
    max-width: none;
}

html body .control-group {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin: 5px 0 0 -151px;
}

html body .control-group .controls .input-prepend.input-append #searchMaps {
    width: 250px;
}

html body .btn-toolbar {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 3%;
}
