html {
    height: 100%;
}

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html body #map-canvas {
    height: 100%;
}

html body #map-canvas img {
    max-width: none;
}

html body .control-group.top-bar {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin: 5px 0 0 -150px;
}

html body .control-group.top-bar .controls .input-prepend.input-append #searchMaps {
    width: 250px;
}

html body .bottom-bar {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -1%;
    margin: 0 0 5px -150px;
    background: #ffffff;
}

html body .bottom-bar #note-bar {
    margin-bottom: 0;
}

html body .bottom-bar #note-bar .controls .input-prepend.input-append #note {
    width: 212px;
}

html body .bottom-bar .control-label {
    margin-left: 7px;
    text-align: right;
}

html body .bottom-bar .control-label input {
    width: 195px;
    margin-right: 25px;
    margin-left: 10px;
}

html body .bottom-bar #note-detail {
    height: 200px;
    overflow: auto;
    padding-top: 20px;
    display: none;
}

html body .bottom-bar #note-detail #accordion2 {
    width: 265px;
    margin-left: 15px;
}

html body .bottom-bar #note-detail #accordion2 .customized-tags {
    list-style: none;
}

html body .bottom-bar #note-detail #repeat label,
html body .bottom-bar #note-detail #visibility label {
    margin-left: 71px;
}
