.accordion-group .accordion-heading .accordion-toggle {
    display: inline-block;
    width: 64%;
}

.accordion-group .accordion-heading .pull-right {
    margin-top: 8px;
    margin-right: 8px;
    visibility: hidden;
}

.accordion-group .accordion-heading > input {
    display: none;
    margin: 3px 8px;
}

.accordion-group .current-state {
    background-color: #dff0d8;
}

.accordion-group > input {
    float: left;
    margin: 11px 0 11px 8px;
}

.accordion-group .accordion-inner .checkbox .pull-right {
    visibility: hidden;
}

.accordion-group .accordion-inner .checkbox + ul {
    list-style: none;
}

#accordion2.edit-state .pull-right {
    visibility: visible;
}

#accordion2.edit-state .current-state .remove-state {
    visibility: hidden;
}

.btn-toolbar.edit-state #editState {
    display: none;
}

.btn-toolbar.edit-state #doneState {
    display: inline-block;
    margin-left: 0;
}

.btn-toolbar #editState {
    display: inline-block;
}

.btn-toolbar #doneState {
    display: none;
}
