html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    #map-canvas {
      height: 100%;
      img {
        max-width: none;
      }
    }
    .control-group.top-bar {
      position: absolute;
      z-index: 1;
      left: 50%;
      margin: 5px 0 0 -150px;
      .controls {
        .input-prepend.input-append {
          #searchMaps {
            width: 250px;
          }
        }
      }
    }
    .bottom-bar {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: -1%;
      margin: 0 0 5px -150px;
      background: #ffffff;
      #note-bar {
        margin-bottom: 0;
        .controls {
          .input-prepend.input-append {
            #note {
              width: 212px;
            }
          }
        }
      }
      .control-label {
        margin-left: 15px;
        text-align: right;
        input {
          width: 210px;
          margin-right: 20px;
        }
      }
      #note-detail {
        height: 200px;
        overflow: auto;
        padding-top: 20px;
      }
    }
  }
}