.accordion-group {
  .accordion-heading {
    .accordion-toggle {
      display: inline-block;
      width: 58%;
    }
    .pull-right {
      margin-top: 8px;
      margin-right: 8px;
      visibility: hidden;
    }
    >input {
      display: none;
      margin: 3px 8px;
    }
  }
  .current-state {
    background-color: #dff0d8;
  }
  >input {
    float: left;
    margin: 11px 0 11px 8px;
  }
  .accordion-inner {
    .checkbox {
      .pull-right {
        visibility: hidden;
      }
    }
    .checkbox+ul {
      list-style: none;
    }
  }
}

#accordion2.edit-state {
  .pull-right {
    visibility: visible;
    margin-right: 8px;
  }
  .current-state {
    .remove-state {
      visibility: hidden;
    }
  }
  .remove-state {
    margin-right: 23px;
  }
}

.btn-toolbar.edit-state {
  #editState {
    display: none;
  }
  #doneState {
    display: inline-block;
    margin-left: 0;
  }
}

.btn-toolbar {
  #editState {
    display: inline-block;
  }
  #doneState {
    display: none;
  }
}