.accordion-group {
  .accordion-heading {
    .accordion-toggle {
      display: inline-block;
      width: 64%;
    }
    .pull-right {
      margin-top: 8px;
      margin-right: 8px;
      visibility: hidden;
    }
    >input {
      display: none;
      margin: 3px 8px;
    }
  }
  .accordion-heading:hover {
    .pull-right {
      visibility: visible;
    }
  }
  .current-state {
    background-color: #dff0d8;
  }
  .current-state:hover {
    .remove-state {
      visibility: hidden;
    }
  }
  >input {
    float: left;
    margin: 11px 0 11px 8px;
  }
}