<form class="form-horizontal" action="{% url 'tasks' mode='updateFilter' %}" id="filterForm">
    <input type="hidden" id="uid" name="uid" value="{{ uid_id }}">
    <input type="hidden" id="tagid" name="tagid" value="{{ tagid_id }}">
    <input type="hidden" id="stateid" name="stateid" value="{{ stateid_id }}">
    <input type="hidden" id="tag_name" name="tag_name" value="{{ tag_name }}">

    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="f_start_time">
                From
                <input type="datetime-local" id="f_start_time" name="f_start_time"
                       value="{{ f_start_time|date:'Y-m-d\TH:i:s' }}">
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="f_stop_time">
                To
                <input type="datetime-local" id="f_stop_time" name="f_stop_time"
                       value="{{ f_stop_time|date:'Y-m-d\TH:i:s' }}">
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="f_repeat" {% if f_repeat %} checked {% endif %}>Repeat
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="radio">
                <input type="radio" name="f_visibility" value="0" {% if f_visibility == 0 %} checked {% endif %}>
                Public
            </label>
            <label class="radio">
                <input type="radio" name="f_visibility" value="1" {% if f_visibility == 1 %} checked {% endif %}>
                Friends
            </label>
            <label class="radio">
                <input type="radio" name="f_visibility" value="2" {% if f_visibility == 2 %} checked {% endif %}>
                Only Me
            </label>
        </div>
    </div>
</form>