{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Friends{% endblock title %}
{% block css %}
    <link href="{% static "css/friend.css" %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <div class="container">
        <h2>Friends</h2>

        <div class="accordion" id="accordion2" data-uid="{{ request.session.uid }}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapse1">
                        <span>Friends<span class="badge badge-info pull-right">{{ n_friends }}</span></span>
                    </a>
                </div>
                <div id="collapse1" class="accordion-body in collapse">
                    <div class="accordion-inner">
                        <ul class="unstyled">
                            {% for friend in friendslist %}
                                <li>
                                    {{ friend.u_name }}
                                    <button class="btn btn-mini btn-danger pull-right unfollow-friend" type="button"
                                            f_uid="{{ friend.uid }}">
                                        Unfollow
                                    </button>
                                </li>
                            {% empty %}
                                <div class="alert alert-info">
                                    You have no friend!
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapse2">
                        <span>Pending Requests<span
                                class="badge badge-important pull-right">{{ n_pendings }}</span></span>
                    </a>
                </div>
                <div id="collapse2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="unstyled">
                            {% for friend in pendingslist %}
                                <li invitationid="{{ friend.invitationid }}">
                                    {{ friend.u_name }}
                                <span class="pull-right">
                                    <button class="btn btn-mini btn-primary accept-friend" type="button">Accept</button>
                                    <button class="btn btn-mini btn-danger deny-friend" type="button">Deny</button>
                                </span>
                                </li>
                            {% empty %}
                                <div class="alert alert-success">
                                    You have no pending request!
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-link" href="{% url 'index' %}">Home</a>
        <a class="btn-link btn" href="{% url 'pages' mode='profile' %}">Profile</a>
        <a class="btn-link btn" href="{% url 'tasks' mode='logout' %}">Logout</a>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static "js/friends.js" %}"></script>
{% endblock js %}