{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container">

        <form action="{% url 'tasks' mode='login' %}" method="post">
            {% csrf_token %}
            <h2>Please login</h2>
            <input type="text" class="input-block-level" placeholder="Email address" name="email">
            <input type="password" class="input-block-level" placeholder="Password" name="password">
            <button class="btn btn-large btn-primary" type="submit">Login</button>
        </form>
        <a class="btn btn-link" href="{% url 'pages' mode='signupform' %}">Sign up</a>
        <a class="btn-link btn" href="{% url 'tasks' mode='logout' %}">logout</a>
    </div>
{% endblock content %}