<div class="container note-container" poster-uid="{{ poster.uid }}">
    <div>{{ poster.u_name }}   
        <button class="btn btn-mini follow-friend btn-primary" type="button" {% if is_friendship != 3 %}style="display: none;"{% endif %}>Follow</button>
        <button class="btn btn-mini unfollow-friend btn-danger" type="button" {% if is_friendship == 4 or is_friendship != 1 %}style="display: none;"{% endif %}>Unfollow</button>
        <button class="btn btn-mini btn-info disabled request-pending" type="button" {% if is_friendship == 4 or is_friendship != 2 %}style="display: none;"{% endif %}>Friend request pending</button>
    </div>
    <div><span class="muted note-time">{{ n_timestamp }}</span>
        {% if n_visibility == 0 %}<i class="icon-globe"></i>{% endif %}
        {% if n_visibility == 1 %}<i class="icon-user"></i>{% endif %}
        {% if n_visibility == 2 %}<i class="icon-lock"></i>{% endif %}
    </div>
    <p>{{ note }}<br><a href="{{ link }}">{{ link }}</a></p>

    <div class="muted"><span class="note-action-num"><span class="likes-num">{{ n_like }}</span> Likes</span><span
            class="note-action-num"><span
            class="comments-num">{{ n_comments }}</span> Comments</span>
    </div>
    <div>
        <button class="btn btn-mini note-button note-like-button"><i class="icon-thumbs-up"></i> Like</button>
        <button class="btn btn-mini note-button note-comment-button"><i class="icon-comment"></i> Comment</button>
    </div>
    <div class="note-comments-container">
        <div class="control-group">
            <div class="controls">
                <div class="input-append">
                    <textarea placeholder="Write a comment..." rows="1" required
                              class="note-comment-textarea"></textarea>
                    <a class="add-on publish-comment-btn" href="#"><i class="icon-share"></i></a></div>
            </div>
            <dl class="comments-list">
                {% for reply in commentslist %}
                    <dt>{{ reply.replier }}</dt>
                    <dd>{{ reply.comment }}</dd>
                    <p class="muted">{{ reply.c_timestamp|date:'Y-m-d H:i:s' }}</p>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>