<div class="container note-container">
    <div>{{ poster.u_name }}
        {% if is_friendship %}<button class="btn btn-mini follow-friend" type="button">Follow</button>{% endif %}
        {% if is_friendship %}<button class="btn btn-mini follow-friend btn-danger" type="button">Unfollow</button>{% endif %}
    </div>
    <div><span class="muted note-time">{{ n_timestamp }}</span>
        {% if n_visibility == 0 %}<i class="icon-globe"></i>{% endif %}
        {% if n_visibility == 1 %}<i class="icon-user"></i>{% endif %}
        {% if n_visibility == 2 %}<i class="icon-lock"></i>{% endif %}
        </div>
    <p>{{ note }}<br><a href="{{ link }}">{{ link }}</a></p>

    <div class="muted"><span class="note-action-num">{{ n_like }} Likes</span><span class="note-action-num">{{ n_comments }} Comments</span>
    </div>
    <div>
        <button class="btn btn-mini note-button"><i class="icon-thumbs-up"></i> Like</button>
        <button class="btn btn-mini note-button note-comment-button"><i class="icon-comment"></i> Comment</button>
    </div>
    <div class="note-comments-container">
        <div class="control-group">
            <div class="controls">
                <div class="input-append">
                    <textarea placeholder="Write a comment..." rows="1" required
                              class="note-comment-textarea"></textarea>
                    <a class="add-on publish-comment-btn" href="#"><i class="icon-share"></i></a></div>
            </div>
            <dl class="comments-list">
                <dt>Ching-Che Chang</dt>
                <dd>This is my comment.</dd>
                <p class="muted">04/30/2013 08:35 PM</p>
            </dl>
        </div>
    </div>
</div>