{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock title %}
{% block css %}
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <form action="{% url 'tasks' mode='setState' %}" method="post">
        {% csrf_token %}
        <h2>Profile</h2>

        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseOne">
                        Collapsible Group Item #1
                    </a>
                    <a href="#" class="pull-right"><i class="icon-trash"></i></a>
                    <a href="#" class="pull-right"><i class="icon-pencil"></i></a>
                    <input type="text" value="Collapsible Group Item #1">
                </div>
                <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                    <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseTwo">
                        Collapsible Group Item #2
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseThree">
                        Collapsible Group Item #3
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        {#            <ul class="unstyled">#}
        {#            {% for state in result.data.stateslist %}#}
        {#                <li>#}
        {#                    <div>state.state_name</div>#}
        {#            {{ state.state_name }}#}
        {#                    <ul>#}
        {#            	{% for filter in state.filters %}#}
        {#            	<li> {{ filter.tag_name }}</li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </li>#}
        {#            {% endfor %}#}
        {#                <li>#}
        {#                    <div>state.state_name</div>#}
        {#            {{ state.state_name }}#}
        {#                    <ul>#}
        {#            	{% for filter in state.filters %}#}
        {#            	<li> {{ filter.tag_name }}</li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </li>#}
        {#            </ul>#}
    </form>
    <a class="btn btn-link" href="{% url 'index' %}">Skip</a>
{% endblock content %}
{% block js %}
    <script src="{% static "js/profile.js" %}"></script>
{% endblock js %}