{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock title %}
{% block css %}
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <h2>Profile</h2>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-mini" id="addState"><i class="icon-plus"></i></button>
        </div>
    </div>
    <div class="accordion" id="accordion2">
        {% for state in result.data.stateslist %}
            <div class="accordion-group">
                {% include "state.html" %}
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-link" href="{% url 'index' %}">Skip</a>
{% endblock content %}
{% block js %}
    <script src="{% static "js/profile.js" %}"></script>
{% endblock js %}