<input type="radio" class="set-current-state" value="{{ state.stateid }}"{% if is_first %}
       checked{% endif %} name="currentState">
<div class="accordion-heading{% if is_first %} current-state{% endif %}" data-state-id="{{ state.stateid }}"
     data-uid="{{ state.uid_id }}">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
       href="#collapse{{ state.stateid }}">
        <span>{{ state.state_name }}</span>
    </a>
    <a href="javascript:void(0);" class="pull-right remove-state"><i class="icon-trash"></i></a>
    <a href="javascript:void(0);" class="pull-right update-state"><i class="icon-pencil"></i></a>
    <input type="text" value="{{ state.state_name }}" required="" class="updateStateName">
</div>
<div id="collapse{{ state.stateid }}" class="accordion-body{% if is_first %} in{% endif %} collapse">
    <div class="accordion-inner">
        <ul class="unstyled">
            {% for filter in state.filters %}
                <li data-tagid="{{ filter.tagid }}">
                    <label class="checkbox">
                        <input type="checkbox" value="{{ filter.tagid }}" {% if filter.is_checked %}
                               checked="true" {% endif %} class="check-filter">
                        {{ filter.tag_name }}
                        <a href="javascript:void(0);" class="pull-right add-tag"><i class="icon-plus"></i></a>
                        <a class="pull-right update-filter" data-toggle="modal"
                           href="{% url 'tasks' mode='getFilter' %}?uid={{ state.uid_id }}&stateid={{ state.stateid }}&tagid={{ filter.tagid }}"
                           data-target="#myModal"><i class="icon-pencil"></i></a>
                    </label>
                    <ul>
                        {% for tag in filter.tags %}
                            <li data-tagid="{{ tag.tagid_id }}">
                                <label class="checkbox">
                                    <input type="checkbox" value="{{ tag.tagid_id }}" {% if tag.is_checked %}
                                           checked="true" {% endif %} class="check-filter">
                                    {{ tag.tag_name }}
                                    <a href="javascript:void(0);" class="pull-right remove-tag"><i
                                            class="icon-trash"></i></a>
                                    <a class="pull-right update-filter" data-toggle="modal"
                                       href="{% url 'tasks' mode='getFilter' %}?uid={{ state.uid_id }}&stateid={{ state.stateid }}&tagid={{ tag.tagid_id }}"
                                       data-target="#myModal"><i class="icon-pencil"></i></a>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>