<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
               href="#collapse1">
                <span>Tags</span>
            </a>
        </div>
        <div id="collapse1" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="unstyled">
                    {% for sys in tagslist %}
                    <li data-tagid="{% comment %}{{ sys.tagid }}{% endcomment %}" class="sys-tag-container">
                        <label class="checkbox">
                            <input type="checkbox" value="1{% comment %}{{ sys.tagid }}{% endcomment %}"
                                   name="tagids" class="sys-tag">
                            {% comment %}{{ sys.tag_name }}{% endcomment %}
                            <a href="javascript:void(0);" class="pull-right add-tag"><i class="icon-plus"></i></a>
                        </label>
                        <ul class="customized-tags">
                            {% for tag in sys.tags %}
                            <li data-tagid="{% comment %}{{ tag.tagid_id }}{% endcomment %}">
                                <label class="checkbox">
                                    <input type="checkbox" value="10{% comment %}{{ tag.tagid }}{% endcomment %}"
                                           name="tagids" class="customized-tag">
                                                                        {{ tag.tag_name }}
                                    <a href="javascript:void(0);" class="pull-right remove-tag"><i
                                            class="icon-trash"></i></a>
                                </label>
                            </li>
                              {% endfor %}
                        </ul>
                    </li>
                                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>